<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="ca.ducnguyen.a101095506.restaurantguide">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".HomeActivity"
            android:label="@string/title_activity_home"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".SplashsActivity"
            android:label="SplashsActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".DetailActivity">

        </activity>
        <activity android:name=".EditRestaurantActivity" />
        <activity android:name=".AboutUsActivity" />

        <meta-data
            android:name="com.google.android.actions"
            android:resource="@drawable/layout_borders" />

        <activity android:name=".RegisterRestaurantActivity"></activity>
    </application>

</manifest>